Django>=4.2,<5.0
PyJWT>=2.8.0
cryptography>=42.0.0
django-environ>=0.11.0
django-import-export>=3.3.0
dropbox>=11.36.0
gunicorn>=21.2.0
mysqlclient>=2.2.0
openpyxl>=3.1.0
python-dotenv>=1.0.0
reportlab>=4.0.0
requests>=2.31.0
ruff>=0.3.0
whitenoise==6.12.0
